.about-section {
  min-height: 100vh;
  max-height: 100vh;
  z-index: 1;
  padding: 10vh 10%;

  .section-header {
    color: #fefefe;
    font-size: 3.25rem;
  }

  span {
    color: #fefefe;
    font-family: "Montserrat", sans-serif;
    line-height: 2.0;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
  }

  .about-info-box {
    display: flex;
    flex-direction: column;
    // padding: 1rem;

    .sub-heading {
      font-size: 2rem;
      
      background: -webkit-linear-gradient(#004300, #26ff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    h3 {
      background: -webkit-linear-gradient(#004300, #26ff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .goals-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .sub-heading {
      font-size: 2rem;
      
      background: -webkit-linear-gradient(#004300, #26ff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .material-range-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .sub-heading {
      font-size: 2rem;
      
      background: -webkit-linear-gradient(#004300, #26ff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
